<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Car Rental Service is an application that helps people to rent a car, as well as give their cars for rent.Our Aim is to design and create a data management System for a car rental company. This enables admin can rent a vehicle that can be used by a customer This system increases customer retention and simplify vehicle and staff Management in an efficient way. 
            </p>
            <div class="skills">
                <button><a href='/'>Home</button></a>
            </div>
        </div>
    </div>
</body>
</html>
