<div class="container">
 <h1>About Us </h1>   
 <p>Car Rental Service is an application that helps people to rent a car, as well as give their cars for rent </p>
 <p>Contact us by clicking the link below</p
 <a href="/contact">Contact us</a>
</div>
