<div class="row">
    <div class="col-sm"><div>
    <div class="col-sm-5">
        <form action="/listCar2" method="POST">

<div class="form-group">
    <label for="pricePerHour">Price Per Hour</label>
    <input type="number" name="pricePerhour" id="pricePerHour" class="form-control">
</div>

<div class="form-group">
    <label for="pricePerWeek">Price Per Week</label>
    <input type="number" name="pricePerWeek" class="form-control">
</div>
<div class="form-group">
    <label for="location">Location</label>
    <input type=" text" name="location" id="location" class="form-control" placeholder="street,city,state,zipcode">
</div>

<div class="form-group">
    <label for="image">Upload image</label>
    <input type="file" name="image" id="image" class="form-control">
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">List a Car</button>
</div>



<script>
    function fetchLocation(){
        var location = document.getElementById('location');
        var Autocomplete = new google.maps.places.Autocomplete(location);
    }
</script>

<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEZ0Lfit3ZlMEgXMx7S1NreKGS5v2v2lo&libraries=places&callback=fetchLocation">
</script>