<div class="container">
  <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm-4">
          <form action="/login" method="POST">
              {{#each success}}
              <p class="green center">{{text}}</p>
              {{/each}}
              {{#each errrors}}
              <p class="red center">{{text}}</p>
              {{/each}}
        </div>
  </div>
  <form action="#">
        <div class="form-group">
            <label for=" email">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="password" name='password' class="form-control"></label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class='btn btn-info'>Login</button>
        </div>
    </form>
</div>
          </form>

      